<%- include('./Include/header' , title) %>
    <%- include('./Include/nav' ) %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />


        <main class="w-screen   indent-1 bg-black overflow-hidden">
            <div class="cursor w-40 rounded-full h-36 bg-green-700 absolute z-10 pointer-events-none"></div>

            <div id="page1" class="w-screen h-min relative py-9">



                <%- include('./Include/sidebar') %>


                    <div class="bg-black flex flex-col gap-24 w-full  lg:relative  items-center  xl:items-end mt-9">





                        <% Posts.forEach(element=> { %>
                            <div
                                class="relative w-[85vw] mr-5 min-h-max sm:[60vw]  sm:w-[60vw] xl:w-[40vw] xl:mr-[13vw]  xl:max-h-full p-3 border-spacing-1 border-2 border-white rounded-md flex flex-col">
                                <div class="h-[80%] md:h-3/4 w-full">
                                    <% if (element.image) { %>
                                        <div class="User_container h-10 w-full mb-4">
                                            <a href="/profile/<%- element.user.id %> ">
                                                <div class=" border-b-2 border-green-900 flex gap-3">
                                                    <img src="<%- element.user.Profile_Image %> " alt="" srcset=""
                                                        class="h-10 w-10  object-cover rounded-full">
                                                    <span class="text-white flex gap-1 mt-1">
                                                        <p><%- element.user.firstName %></p>
                                                        <p><%- element.user.surname %></p>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>

                                        <a href="/view/<%- element._id %> " class="w-full h-[70%] ">
                                            <img src="/images/Uploads/<%- element.image  %> " alt="" srcset=""
                                                class="w-full h-full object-center object-fill">

                                        </a>
                                        <div
                                            class="w-full h-16 flex gap-24 mt-4 mb-4 rounded-md border-r-2 border-white border-l-2  border-b-2">
                                            <div
                                                class="like h-full w-2/6 relative  border-t-2 border-red-700 flex py-2 flex-col">

                                                <a href="/like/<%- element._id %> ">




                                                    <% if (element.like.indexOf(id)) { %>

                                                        <i
                                                            class="fa-solid fa-heart text-xl text-white absolute left-1/3 top-1"></i>



                                                        <% } else { %>
                                                            <i
                                                                class="fa-solid fa-heart text-2xl text-red-700 absolute left-1/3 top-1"></i>
                                                            <% } %>

                                                                <p
                                                                    class="text-white text-md mr-2 relative mt-5 text-center ">
                                                                    <%- element.like.length %> Like
                                                                </p>



                                                </a>
                                            </div>



                                            <div
                                                class="h-full w-2/6  border-t-2 border-red-700 lex py-2 flex-col items-center justify-center   ">

                                                <i class="fa-regular fa-comment text-white text-lg"></i>
                                                <p class="text-white text-md w-fit">1k Comment</p>


                                            </div>




                                            <div class="h-full w-2/6   border-t-2 border-red-700">fddd</div>


                                        </div>

                                        <!-- commentBox.ejs -->
                                        <div class="h-[35vh] w-full flex flex-col overflow-y-scroll scroll-container">

                                            <% element.comment.forEach(comment=> { %>
                                                <div class="flex items-start space-x-4 py-2">
                                                    <img src="<%- comment.user.Profile_Image %>" alt="Profile Picture"
                                                        class="w-10 h-10 rounded-full">
                                                    <div class="flex-1">
                                                        <div class="flex items-center space-x-2 text-white">
                                                            <h2 class="text-sm lowercase font-bold text-green-500">
                                                                <%- comment.user.firstName %> <%- comment.user.surname
                                                                        %>
                                                            </h2>

                                                        </div>
                                                        <p class="text-white mt-1">
                                                            <%- comment.Comment %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <% }) %>
                                        </div>


                                        <!-- comment form -->





                                        <div
                                            class="flex mx-auto items-center justify-center shadow-lg  mb-4 h-36  overflow-hidden w-full">
                                            <form action="/comment" method="post"
                                                class=" h-full  w-full  rounded-lg px-4 pt-2">
                                                <div class="flex flex-wrap ">
                                                    <h2 class="text-base text-white"><i
                                                            class="fa-solid fa-comments"></i> Add a new
                                                        comment
                                                    </h2>
                                                    <div class="w-full  px-1  mt-2">
                                                        <input type="hidden" value="<%- element._id %>" name="Post_id">
                                                        <input type="hidden" value="<%- id %>" name="User_id">
                                                        <textarea
                                                            class="bg-gray-100 rounded-lg border border-gray-400 leading-normal resize-none w-full h-14 py-2 px-3 font-medium placeholder-gray-700 text-wrap text-lg focus:outline-none focus:bg-white"
                                                            name="comment" placeholder='Type Your Comment'
                                                            required></textarea>
                                                    </div>
                                                    <div class="w-full  flex items-start px-3">
                                                        <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">


                                                        </div>
                                                        <div class="-mr-1">
                                                            <input type='submit'
                                                                class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"
                                                                value='Post Comment'>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                </div>
                                <!-- <div class="comment_container h-[15vh] w-full relative overflow-y-scroll overflow-x-hidden">
                                        <div class="comment_box flex justify-start mb-4 absolute w-fit h-8 gap-3">
                                            <img src="/images/Uploads/0558e3d607bc247c6052eabd.png "
                                                class="object-cover h-8 w-8 rounded-full" alt="">
                                            <div
                                                class="py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white flex items-center">
                                                <p>Happy Coding</p>
                                            </div>
                                        </div>
                                        <div class="comment_box flex justify-start mb-4  w-[70%] h-fit gap-3">
                                            <img src="/images/Uploads/0558e3d607bc247c6052eabd.png "
                                                class="object-cover h-8 w-8 rounded-full" alt="">
                                            <div
                                                class="py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white flex items-center text-wrap">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam at, labore impedit illum </p>
                                            </div>
                                        </div>
                                        <div class="comment_box flex justify-start mb-4  w-fit h-8 gap-3">
                                            <img src="/images/Uploads/0558e3d607bc247c6052eabd.png "
                                                class="object-cover h-8 w-8 rounded-full" alt="">
                                            <div
                                                class="py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white flex items-center">
                                                <p>Happy Coding</p>
                                            </div>
                                        </div>
                                        <div class="comment_box flex justify-start mb-4  w-fit h-8 gap-3">
                                            <img src="/images/Uploads/0558e3d607bc247c6052eabd.png "
                                                class="object-cover h-8 w-8 rounded-full" alt="">
                                            <div
                                                class="py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white flex items-center">
                                                <p>Happy Coding</p>
                                            </div>
                                        </div>
                                    
                                    </div> -->
                                <!-- <form action="/comment" method="post" class="absolute w-full h-10 flex gap-4">
                                        <input type="hidden" name="Post_id" value="">
                                        <input type="text" name="message" class="w-4/5 h-full rounded-md p-2"
                                            placeholder="Enter Your Comment">
                                        <button type="submit"
                                            class="bg-gray-800 px-3 py-4 rounded-full flex items-center"><i
                                                class="fa-solid fa-arrow-up font-extrabold text-2xl  text-white"></i></button>
                                    </form> -->

                                <%} else { %>
                                    <video src="/images/Uploads/<%- element.video  %> " controls loop muted
                                        class="w-full h-full object-cover"></video>
                                    <% } %>

                            </div>



                    </div>
                    <% }) %>

                        <!-- Post End -->








            </div>


            </div>


            <button
                class="rounded-full w-10 h-10  fixed bottom-0  bg-red-500 right-8 font-extrabold text-3xl mb-3 mr-5">+</button>



            <!-- <div id="page2" class="w-screen h-screen bg-green-700 relative">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis assumenda debitis rem ipsam dignissimos. Suscipit, delectus. Recusandae vitae officiis quo modi ipsam minus, voluptates repellendus delectus? Eius provident ratione totam officiis enim odio et dolorum adipisci voluptatem, recusandae aspernatur cumque minima, molestiae eligendi culpa error magnam alias obcaecati similique. Magni corrupti eligendi excepturi doloremque voluptate ullam, veritatis minima alias. Ipsum quia omnis esse aut magni maxime sapiente aliquid error iusto, voluptatem dignissimos rem culpa beatae porro ipsa. Animi, voluptatum pariatur iusto praesentium mollitia aliquam maxime impedit suscipit voluptate officiis, eum corrupti nam expedita quod odit doloribus officia, sit possimus accusantium totam?</p>
        </div> -->


        </main>

        <%- include('./Include/footer') %>