<%- include('./Include/header', title) %>

<main class="relative">
    <!-- Left sideBar Start -->
    <div id="left_sideBar"
        class="flex-col h-full fixed left-0 w-1/4 bg-black shadow-2xl rounded-md border-2 border-white text-white flex items-center">
        <!-- Navigation link to main page -->
        <a href="/main">
            <div class="h-10 w-full flex items-start gap-9 text-white text-xl ml-3">
                <span><i class="fa fa-backward" aria-hidden="true"></i></span>
                <span>Go To Main Page</span>
            </div>
        </a>
        <!-- Profile Image Start -->
        <div class="UserImage w-full justify-around flex">
            <!-- Replace this with your profile image -->
            <img src="<%- ProfilePicture %>" alt class="rounded-full w-1/2 h-full object-cover">
        </div>
        <!-- Profile Image End -->
        <!-- User Name Start -->
        <div id="userName" class="flex gap-2 font-bold mt-3">
            <!-- Replace this with user's first name and surname -->
            <h2 class="text-xl"> <%- firstName %></h2>
            <h2 class="text-xl"> <%- surname %></h2>
        </div>
        <!-- User Name End -->
        <!-- Profile Bio Start -->
        <div id="bio">
            <!-- Replace this with user's bio -->
            <p class="text-base px-5 text-center"><%- bio %></p>
        </div>
        <!-- Profile Bio End -->
        <!-- Follow or Edit Button Based on isAdmin true or false Start -->
        <div class="w-5/6">
            <% if (isAdmin) { %>
            <!-- Show Edit Profile Button if isAdmin -->
            <button class="rounded-lg text-white p-2 mt-3 w-full border-2 border-white" id="edit_btn">Edit Profile</button>
            <% } else { %>
            <!-- Show Follow Button if not isAdmin -->
            <button class="rounded-lg text-white p-2 mt-3 w-full border-2 border-white hidden">Edit Profile</button>
            <button class="rounded-lg text-white p-2 mt-3 w-full border-2 border-white">Follow Me</button>
            <% } %>
        </div>
        <!-- Follow or Edit Button Based on isAdmin true or false End -->
        <!-- Post, follower, and Following Button Start -->
        <div id="button" class="text-black flex gap-10 mt-7">
            <button class="text-white border-t-2 border-red-800 flex flex-col items-center px-2 leading-3 py-2">
                <!-- Replace this with number of posts -->
                <p class="text-xl"><%- Post.length %></p>
                <p> Post</p>
            </button>
            <button class="text-white px-2 border-t-2 border-red-800 flex flex-col items-center leading-3 py-2">
                <!-- Replace this with number of followers -->
                <p class="text-xl"> 1K </p>
                <p class="text-sm"> Follower</p>
            </button>
            <button class="text-white px-2 border-t-2 border-red-800 flex flex-col items-center leading-3 py-2">
                <!-- Replace this with number of following -->
                <p class="text-xl">255 </p>
                <% if (!Post) { %>
                <!-- No Post Found -->
                <p class="absolute top-0 right-0 text-white">No Post Found</p>
                <% } %>
                <p> Following</p>
            </button>
        </div>
        <!-- Post, follower, and Following Button End -->
    </div>
    <!-- Left sideBar End -->
    <!-- Right sideBar Start -->
    <div id="right_sideBar" class="w-9/12 h-screen overflow-y-scroll overflow-x-hidden bg-black absolute top-0 right-0">
        <!-- Profile Post Start -->
        <div id="post">
            <!-- Card container for displaying user's posts -->
            <div class="card_container p-5 h-fit z-40 absolute top-0 w-full items-center justify-center flex flex-wrap gap-11">
                <% Post.forEach(element=> { %>
                <% if (!element) { %>
                <!-- No Post -->
                <p class="absolute top-0 right-0 text-white">No Post</p>
                <% } %>
                <% if (element.image) { %>
                <!-- Post with Image -->
                <div class="card">
                    <!-- User details -->
                    <div class="user_detail h-20 p-3 w-full flex items-center justify-center gap-4 ">

                        <div class="bg-black h-full w-14 ">
                            <img src="<%- ProfilePicture %>" alt class="rounded-full w-14 h-12 object-cover">
                        </div>
                        <div class="text-white w-3/4">
                       
                            <p class="font-medium text-lg"><%- firstName %> <%-surname %></p>
                            <p class="font-thin text-sm">
                                <%= element.date %>
                            </p>
                        </div>
                    </div>
                    <!-- Image post -->
                    <div class="image mt-3">
                     
                        <img src="/images/Uploads/<%- element.image %>" alt="" srcset="" class="object-fill">
                    </div>
                </div>
                <%} else { %>
                <!-- Post with Video -->
                <div class="card">
                    <!-- User details -->
                    <div class="user_detail h-20 p-3 w-full flex items-center justify-center gap-4 ">
                  
                        <div class="bg-black h-full w-14 ">
                            <img src="<%- ProfilePicture %>" alt class="rounded-full w-14 h-12 object-center">
                        </div>
                        <div class="text-white w-3/4">
                    
                            <p class="font-medium text-lg"><%- firstName %> <%-surname %></p>
                            <p class="font-thin text-sm">
                                <%= element.date %>
                            </p>
                        </div>
                    </div>
                    <!-- Video post -->
                    <div class="video mt-3">
                      
                        <video loop muted autoplay src="/images/Uploads/<%- element.video %>"></video>
                    </div>
                </div>
                <% } %>
                <% }) %>

            </div>

            <!-- Edit Profile Start -->
            <div class="flex-col ml-[25%] w-[75vw] h-screen right-0 fixed z-40 top-0 bg-amber-400 text-black p-6 items-center" id="edit_profile">
                <h2 class="text-center text-xl my-6">Edit Profile</h2>
                <!-- Form for editing profile details -->
                <form action="/edit" method="post" class="w-full h-full flex items-center flex-col gap-5" enctype="multipart/form-data">
                    <!-- Input fields for updating profile -->
                    <div class="flex gap-3 items-center">
                        <label for="firstName" class="text-xl">First Name</label>
                        <!-- Input field for first name -->
                        <input type="text" value="<%- firstName %>" class="p-2 border-2 m-2 border-black rounded-md" name="firstName" onkeyup="this.value = this.value.toUpperCase()">
                        <label for="Surname" class="text-xl">Surname</label>
                        <!-- Input field for surname -->
                        <input type="text" value="<%- surname %>" class=" p-2 border-2 m-2 border-black rounded-md" name="surname" onkeyup="this.value = this.value.toUpperCase()">
                    </div>
                    <!-- Input field for email -->
                    <div class="w-2/4 h-8 my-10 flex items-center ">
                        <label for="Email" class="text-xl">Email</label>
                        <!-- Input field for email -->
                        <input type="text" value="<%- mobileNo_Email  %>" class=" whitespace-normal p-3 border-2 m-2 border-black rounded-md h-full text-justify text-clip text-wrap w-full overflow-hidden" name="Email">
                    </div>
                    <!-- Button for uploading profile picture -->
                    <div class="w-2/4 h-fit flex gap-3 items-center">
                        <p class="text-xl">Edit Photo</p>
                        <label for="File_Upload" class="text-xl w-fit h-7 bg-green-600 flex items-center gap-2 p-5 rounded-lg ">
                            <ion-icon name="cloud-upload-outline" class="text-2xl"></ion-icon>
                            <h3>Upload</h3>
                            <!-- Input field for uploading profile picture -->
                            <input type="file" class="hidden" name="Profile_Image" id="File_Upload">
                        </label>
                    </div>
                    <!-- Input field for bio -->
                    <div class="w-2/4 h-fit flex gap-3 items-center">
                        <label for="Bio" class="text-xl">Bio</label>
                        <!-- Input field for bio -->
                        <input type="text" value="<%- bio %>" class=" whitespace-normal p-2 border-2 m-3 border-black rounded-md h-40 text-justify text-clip text-wrap w-full overflow-hidden" name="bio">
                    </div>
                    <!-- Button for updating profile -->
                    <div class="flex w-full h-9 items-center justify-center mt-10">
                        <button type="submit" class=" p-3 border-2 m-3 bg-cyan-500 shadow-lg shadow-cyan-500/50 rounded-md ">Update</button>
                    </div>
                </form>
            </div>
            <!-- Edit Profile End -->
        </div>
    </div>
    <!-- Right sideBar End -->
</main>
<script src="/javascripts/profile.js" defer></script>
<%- include('./Include/footer') %>
